.container {
    width: 80%;
    padding: 0px;
    border: 1px solid;
      }
      .school-info{
        
      }
.school-name{
   text-align: center;
   font-size: 11px;
   font-weight: bold;
}
.info{
    text-align: center;
    font-size: 15px;
    color: red;
    border-block: 1px solid red;
    border-right: 1px solid red;
    border-left: 1px solid red;

}
.school-details{
    text-align: center;
    color: red;
    font-size: 42px;
    margin-bottom: 1px;
    font-weight: bold;
}
.school-detail{
    text-align: center;
    margin-bottom: 1px;
    font-size: 25px;
    height: fit-content;
    width: fit-content;
    margin-left: 312px;
}
.tc{
    text-align: center;
    color: red;
    font-size: 42px;
    margin-right: 273px;
    font-weight: bold;
    margin-bottom: 0px;

}
.logo{
    float: left;
    width: 136px;

}

.no{
    font-size: 13px;
    float: left;
    margin-top: 106px;
    margin-left: 5px;

}
.Id{
    float: right;
    margin-top: -28px;
    .N{
        font-size: 30px;
       text-align: center;
       border: 1px solid;
    }
    .Num{
        border: 1px solid black;
        margin-bottom: -12px;
    }
    .Numb{}
}.detail{
    
    text-align: center;
    font-size: 16px;
    margin-right: 277px;
     

}
.stud{
    border-top: 1px solid;
    margin: 0px;
   
}


  .field{
    margin: 20px;
    margin-top: 0px;
    
  }
  label {
    font-weight: bold;
    margin-bottom: 5px;
}


.footer{
    border-top: 1px solid;
    font-size: 20px;
    margin-top: -20px;

    .sign{
        font-weight: bold;
        padding: 20px;


    }
}



