
<div class="certificate">
  <div class="logo">
      <img src="assets/img/images (1).jpg" alt="School Logo">
  </div>
  <div class="content">
      <div class="title">कै. जिजाबाई दादासाहेब गावडे विद्यालय, पारवडी</div>
      <div class="txt">ता. बारामती जि. पुणे पिन : ४१३१०५</div>
      <div class="title">बोनाफाईड सर्टिफिकेट</div><br><br>
      <div class="inf">नोंदणी क्रमांक : ४४५८</div>
      <div class="info">प्रमाणपत्र देण्यात येते की कुमार / कुमारी :{{ student?.fullName }} </div>
      <pre class="info">धर्म व जात : {{ student?.religion }}  {{ student?.cast }}          इ.स.  {{ student?.academicYear }}          या वर्षात तो / ती इयत्ता: {{ student?.classOfAdmission }}       या वर्गात शिकत आहे / होता / होती.</pre>
      <div class="info">या विद्यालयाच्या सर्वसाधारण नोंदवहीनुसार त्याची जन्मतारीख अंकी : {{ student?.dateOfBirth }}</div>
      <pre class="info">अक्षरी :                                  ही आहे. </pre>
      <div class="info">माझ्या माहितीनुसार त्याचे/तिचे चारित्र्यव वर्तणूक चांगली आहे .</div>
      <div class="date">दिनांक : </div>
  </div>
</div>
