.content {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%) !important;
  display: contents;
  justify-content: center;
  
}
.footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%) !important;
  width: 100%;
}
