.content {
  margin-top: 10px;
  margin-left: 80px;
  &.sidebarExpanded {
    margin-left: 13rem;
  }
}

.header {
  margin-left: 0px;
  &.sidebarExpanded {
    margin-left: 60px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%) !important;
  width: 100%;
  margin-left: 12rem;
}
