<div class="sidebar">
  <nav class="navbar navbar-light">
    <ul class="navigation" >
      
      <li>
        <a routerLink="/registration">
          <i class="fa fa-user-plus"></i> Student Registration
        </a>
      </li>
      <li>
        <a routerLink="/student-list" routerLinkActive="active">General Register</a>
      </li>
      <li>
        <a routerLink="/bonafide-certificate" routerLinkActive="active">
          Bonafide Certificate
        </a>
      </li>
      <li>
        <a routerLink="/tc" routerLinkActive="active">
          <i class="fa fa-file-alt"></i> TC Certificate
        </a>
      </li>
      <li>
        <a routerLink="/schools" routerLinkActive="active">
          Schools
        </a>
      </li>

      <li>
        <a routerLink="/caste" routerLinkActive="active">
         Caste
        </a>
      </li>

      <li>
        <a routerLink="/division" routerLinkActive="active">
          Division
        </a>
      </li>

      <li>
        <a routerLink="/address" routerLinkActive="active">
          Address
        </a>
      </li>
      

    </ul>
  </nav>
</div>
